.detailPanelContent {
  overflow-y: auto;
  overflow-x: hidden;
  color: #c0c0c0;
  margin-bottom: 20px;
  height: 100%;
}

.detail-panel-content-tree {
  position: relative;
}

.detail-panel-content-tree-boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  overflow-y: hidden;
}

.detail-panel-content-tree-box {
  width: 32.8%;
  overflow-y: hidden;
  height: calc(100vh - 320px);
}

.detail-panel-content-tree-box > div {
  height: 95%;
}

.detail-panel-content-tree-box > div::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.2);
  width: 5px;
  height: 5px;
  border-radius: 20px;
}
.detail-panel-content-tree-box > div::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 20px;
}

.detail-panel-content-tree-box-header {
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
}

.detail-panel-content-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 50px;
  padding: 5px;
  margin-bottom: 10px;

  > textarea {
    width: 95%;
    height: 100%;
    resize: none;
    padding: 2px 5px;
    color: black;
    border: 1px solid #c0c0c0;
    background-color: #c0c0c0;
  }
}

.v-treeview {
  height: 100%;
  padding-right: 5px;
}

.input-date {
  width: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}